.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.vspace { margin-top: 15px; }


.op-user {
    font-weight: bold;
}
.normal-user {
    font-size: smaller;
}

.user-controls {
    list-style: none;
    margin: 0;
    padding-left: 10px;

}

.clickable-element {
    cursor: pointer;
}

.loginfield{
    display: inline;
}

.chat {
    height: calc(100vh - 205px);
    min-height:100%;
}

.loading-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.discovery-message {
    word-wrap: break-word;
    text-align: left;
}

.tile p {
    margin-bottom: 15px;
}

.tile {
    background-color: #e5e5e5;
}

.image-container {
    width: 100%;
    height: 200px;
    display: block;
}
.media-element {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.images-loaded {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.chat-summary {
    margin: 1px;
    margin-top: 15px;
    overflow: hidden;
    text-align: center;
}

.chat-summary-picture {
    max-width: 100%;
    max-height: 500px;
    height: auto;
}

@media screen and (max-width: 480px) {
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '1 .column.column-1-1';
        font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
        visibility: hidden;
    }
}

@media screen and (min-width: 481px) {
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '2 .column.column-1-2';
        font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
        visibility: hidden;
    }
}

@media screen and (min-width: 720px) {
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '3 .column.column-1-3';
        font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
        visibility: hidden;
    }
}

@media screen and (min-width: 1080px) {
    .deckgrid[deckgrid]::before {
        /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
        content: '4 .column.column-1-4';
        font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
        visibility: hidden;
    }
}

.deckgrid .column {
    float: left;
    padding: 5px;
}

.deckgrid .column-1-4 {
    width: 25%;
    overflow: hidden;
}

.deckgrid .column-1-3 {
    width: 33%;
    overflow: hidden;
}

.deckgrid .column-1-2 {
    width: 50%;
    overflow: hidden;
}

.deckgrid .column-1-1 {
    width: 100%;
    overflow: hidden;
}

.green-text {
    color: #789922
}

.tscontainer {
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

.own-nick-area {
    /*height: 10%;*/
    -webkit-transition: none;
    transition: none;
}

.users {
    height: 90%;
    min-height: 90%;
    /*outline: 1px solid orange;*/
    overflow: auto;
}

.messages {
    height: 100%;
    min-height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    /*outline: 1px solid orange;*/
}

.help-box {
    margin-top: 45px;
}

.tsmedia {
    height: 100%;
    min-height: 100%;
    /*outline: 1px solid orange;*/
    overflow: auto;
}

.single-message {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 16px;
}

.single-user {
    font-size: 18px;
}

.single-message-highlighted {
    word-break: break-word;
    background-color: rgb(255, 236, 209);
}

.centered-text {
    text-align: center;
}

.centered-element {
    margin-left: auto;
    margin-right: auto;
}

/*message entry line */
.new-message {
    /*
    height: 20%;
    min-height: 20%;
    */
    height: 60px;
    /*outline: 1px solid orange;*/
}

.sendButton {
    bottom: 5px;
    left: 85%;
    width: 10%;
}

.animate-enter { 
    -webkit-animation: enter 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}

.ad-block-info {
    background-color: #F1C40F;
}

.new-channel {
    width: 25em;
}

html, body {
    height: 100%;
}

.leaderboard-ad {
    padding-top: 45px;
    float: right;
}

.site-headers {
    float: left;
}

.quit-x-button {
    /*
    No idea how to style this
    */
}

h1 {
    color: orange;
    margin-bottom: 5px;
}
h6 {
    margin-top: 0;
    margin-bottom: 30px;
    color: orange;
}

.fill {
    min-height: 100%;
    height: 100%;
}

