.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.vspace { margin-top: 15px; }

.op-user {
    font-weight: bold;
}
.normal-user {
    font-size: smaller;
}

.user-controls {
    list-style: none;
    margin: 0;
    padding-left: 10px;

}

.clickable-element {
    cursor: pointer;
}

.loginfield{
    display: inline;
}

.chat {
    height:600px;
    /*
    width:500px;
    */
}

.loading-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.discovery-message {
    word-wrap: break-word;
    text-align: left;
}

.tile p {
    margin-bottom: 15px;
}

.tile {
    background-color: #e5e5e5;
}

.chat-summary {
    margin: 1px;
    margin-top: 15px;
    overflow: hidden;
    text-align: center;
}

.chat-summary-picture {
    max-width: 100%;
    max-height: 500px;
    height: auto;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
    padding: 5px;
}

.deckgrid .column-1-4 {
    width: 25%;
    overflow: hidden;
}

.green-text {
    color: #789922
}


.own-nick-area {
    position: absolute;
    bottom: 0px;
    height: 10%;
    -webkit-transition: none;
    transition: none;
}
.media-element {
    display: block;
    max-width: 100%;
    max-height: 100%;
}


.users {
    /*
    height: 90%;
    min-height: 90%;
    */
    outline: 1px solid orange;
    min-height: 500px;
    height: 100%;
    overflow: auto;
    display: inline-block;
}

.tsmedia {
    /*
    height: 100%;
    min-height: 100%;
    /*outline: 1px solid orange;*/
    /*
    overflow: auto;
    */
    /*
    display: inline-block;
    outline: 2px solid blue;
    min-height: 500px;
    max-height: 100%;
    overflow: scroll;
    */
    display: inline-block;
    outline: 2px solid green;
    min-height: 500px;
    height: 100%;
    overflow-y: scroll;
}

.ts-chat-container {
    height: auto;
    min-height: 100%;
    outline: 5px solid gray;
}

.messages {
    display: inline-block;
    outline: 2px solid green;
    min-height: 500px;
    height: 100%;
    overflow: auto;
    /*
    height: 90%;
    */
    /*
    height: 100%;
    min-width: 10%;
    overflow-x: auto;
    overflow-y: scroll;
    */
}

.messages-and-search-container {
    height: 90%;
    min-height: 90%;
}

.help-box {
    margin-top: 45px;
}


.single-message {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 16px;
}

.single-user {
    font-size: 18px;
}

.single-message-highlighted {
    word-break: break-word;
    background-color: rgb(255, 236, 209);
}

.centered-text {
    text-align: center;
}

/*message entry line */
.new-message {
    /*
    height: 20%;
    min-height: 20%;
    */
    height: 60px;
    /*outline: 1px solid orange;*/
}

.sendButton {
    bottom: 5px;
    left: 85%;
    width: 10%;
}

.animate-enter { 
    -webkit-animation: enter 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}

.ad-block-info {
    background-color: #F1C40F;
}

.new-channel {
    width: 25em;
}

html, body {
    height: 100%;
}

.leaderboard-ad {
    padding-top: 45px;
    float: right;
}

.site-headers {
    float: left;
}

.quit-x-button {
    /*
    No idea how to style this
    */
}

h1 {
    color: orange;
    margin-bottom: 5px;
}
h6 {
    margin-top: 0;
    margin-bottom: 30px;
    color: orange;
}

.rg-right, .rg-left, .rg-top, .rg-bottom {
    display: block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    z-index: 1;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.rg-right span, .rg-left span, .rg-top span, .rg-bottom span {
    position: absolute;
    box-sizing: border-box;
    display: block;
    border: 1px solid #ccc;
}

.rg-right span, .rg-left span {
    border-width: 0 1px;
    top: 50%;
    margin-top: -10px;
    margin: -10px 0 0 3.5px;
    height: 20px;
    width: 7px;
}

.rg-top span, .rg-bottom span {
    border-width: 1px 0;
    left: 50%;
    margin: 3.5px 0 0 -10px;
    width: 20px;
    height: 7px;
}

.rg-top {
    cursor: row-resize;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: -7px;
}

.rg-right {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    margin-right: -14px;
}

.rg-bottom {
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -7px;
}

.rg-left {
    cursor: col-resize;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: -14px;
}


