vagrant/.vagrant
vagrant/vagrant*
vagrant/d2*
.idea/
.vagrant/
*.swp
*.swo
*.iws
testenvironment/
environment/public/libs
environment/bower_components
npm-debug.log*
environment/err.log
environment/out.log
mongodb/data
environment/dist
environment/.tmp/
