head
    title Tsatter

    //-<!-- build:css(public) public/css/styles.min.css -->

    // bower:css
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/libs/videojs/dist/video-js/video-js.css')
    link(rel='stylesheet', href='/libs/flat-ui/dist/css/flat-ui.css')
    // endbower

    link(href='/stylesheets/stylesheet.css', rel='stylesheet')
    //-<!-- endbuild -->