head
    title Tsatter
    // bower:css
    link(rel='stylesheet', href='../../public/libs/bootstrap/dist/css/bootstrap.css')
    // endbower
    link(href='/stylesheets/stylesheet.css', rel='stylesheet')
