head
    title Tsatter
    //TODO: Move these to the bottom of body etc.
    link(href='/libs/css/bootstrap.css', rel='stylesheet')
    script(src="/libs/js/jquery.js")
    script(src="/libs/js/angular.js")
    script(src="/libs/js/angular-animate.js")
    script(src="/libs/js/angular-sanitize.js")

    script(src="/js/app.js")
    script(src="/js/controllers/ChatController.js")
    script(src="/js/controllers/AllChatController.js")
    script(src="/js/controllers/UserHeaderController.js")
    script(src="/js/controllers/DiscoveryController.js")
    script(src="/js/services/socket.js")
    script(src="/js/services/command.js")
    script(src="/libs/js/socket.io.js")
    script(src="/libs/js/ui-bootstrap-tpls.js")

    script(src="/libs/js/angular-deckgrid.js")
    script(src="/libs/js/scrollglue.js")

    link(href='/stylesheets/stylesheet.css', rel='stylesheet')
