extends layout

block content

    h1 Tsatter Pre-Alpha

    div(ng-controller="AllChatController as allCtrl")

        tabset(type="'pills'" justified="true")

            tab(class="row vspace", heading="Discover")
                ts-discovery(ng-controller="DiscoveryController as discoCtrl")

            tab(ng-repeat="channel in userChannels", heading="{{channel}}")
                div(class="col-xs-3")

                    strong Your channels
                    ul
                        li(ng-repeat="channel in userChannels") {{channel}}

                    strong Recently active channels
                    ul
                        li(ng-repeat="channel in allChannels") {{channel}}

                .col-xs-9
                    ts-chat(channel-name="{{channel}}")

