extends layout

block content

    h1 Tsatter Pre-Alpha

    div(ng-controller="AllChatController as allCtrl")

        div(class="row vspace")
            input(ng-click="allCtrl.clicked()", ng-keyup="$event.keyCode == 13 && allCtrl.join()", ng-model="joinThisChannel", typeahead="channel for channel in allChannels | filter:$viewValue | limitTo:10", type="text", class="form-control", placeholder="New channel name...")

        div(class="row vspace")

            div(class="col-xs-3")

                strong {{$root.vars.username}}'s channels
                ul
                    li(ng-repeat="channel in userChannels") {{channel}}

                strong Recently active channels
                ul
                    li(ng-repeat="channel in allChannels") {{channel}}



            .col-xs-9
                tabset(type="'pills'")
                    tab(ng-repeat="channel in userChannels", heading="{{channel}}")
                        ts-chat(channel-name="{{channel}}")
