extends layout

block content

    h1 Tsatter Pre-Alpha

    div(ng-controller="AllChatController as allCtrl")

        tabset(type="'tabs'")

            tab(class="", heading="Discover")
                ts-discovery(ng-controller="DiscoveryController as discoCtrl" ng-show="loaded")

            tab(class="", ng-repeat="channel in userChannels", heading="{{channel}}")
                div(class="col-xs-3")

                .col-xs-9
                    ts-chat(channel-name="{{channel}}")

            tab(class="", heading="+ Channel")
                form(ng-submit="joinChannel()")
                    input(type="text", ng-model="form.channel" size="50" placeholder="Channel name")
                    input(type="submit" value="Join")
