doctype html

html(ng-app="tsatter")

    include header

    body
        div.container
            div.row
                //ts-user-header

            block content

        // bower:js
        script(src='../../public/libs/jquery/dist/jquery.js')
        script(src='../../public/libs/bootstrap/dist/js/bootstrap.js')
        script(src='../../public/libs/angular/angular.js')
        script(src='../../public/libs/get-style-property/get-style-property.js')
        script(src='../../public/libs/get-size/get-size.js')
        script(src='../../public/libs/eventie/eventie.js')
        script(src='../../public/libs/doc-ready/doc-ready.js')
        script(src='../../public/libs/eventEmitter/EventEmitter.js')
        script(src='../../public/libs/matches-selector/matches-selector.js')
        script(src='../../public/libs/outlayer/item.js')
        script(src='../../public/libs/outlayer/outlayer.js')
        script(src='../../public/libs/masonry/masonry.js')
        script(src='../../public/libs/angular-animate/angular-animate.js')
        script(src='../../public/libs/angular-bootstrap/ui-bootstrap-tpls.js')
        script(src='../../public/libs/angular-deckgrid/angular-deckgrid.js')
        script(src='../../public/libs/angular-scroll-glue/src/scrollglue.js')
        script(src='../../public/libs/angular-sanitize/angular-sanitize.js')
        // endbower

        script(src="/js/app.js")
        script(src="/js/controllers/ChatController.js")
        script(src="/js/controllers/AllChatController.js")
        script(src="/js/controllers/UserHeaderController.js")
        script(src="/js/controllers/DiscoveryController.js")
        script(src="/js/services/socket.js")
        script(src="/js/services/command.js")