.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.vspace { margin-top: 15px; }

.loginfield{
    display: inline;
}

.chat {
    height:500px;
    /*
    width:500px;
    */
}

.quit-x-button {
    /*
    No idea how to style this
    */
}

.discovery-message {
    word-break: break-all;
}

.media-element {
    max-width: 100%;
    max-height: 100%;
}

.chat-summary {
    margin: 5px;
    overflow: hidden;
    text-align: center;
    outline: 20px #d6d6d6;
    /*
    outline: 2px solid orange;
    float: left;
    */
}

.chat-summary-picture {
    max-width: 100%;
    max-height: 500px;
    height: auto;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
    background-color: #e6e6e6;
    padding: 5px;
}

.deckgrid .column-1-4 {
    width: 25%;
    overflow: hidden;
}

.tscontainer {
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    /*outline: 2px solid grey;*/
}

.own-nick-area {
    height: 10%;
}

.users {
    height: 90%;
    min-height: 90%;
    /*outline: 1px solid orange;*/
    overflow: auto;
}

.messages {
    height: 90%;
    min-height: 90%;
    overflow: auto;
    /*outline: 1px solid orange;*/
}

.tsmedia {
    height: 90%;
    min-height: 90%;
    /*outline: 1px solid orange;*/
    overflow: auto;
}

.single-message {
    word-break: break-word;
}

.single-message-highlighted {
    word-break: break-word;
    background-color: rgb(255, 236, 209);
}

.centered-text {
    text-align: center;
}

/*message entry line */
.newMessage {
    /*
    height: 20%;
    min-height: 20%;
    */
    height: 50px;
    /*outline: 1px solid orange;*/
}

.sendButton {
    bottom: 5px;
    left: 85%;
    width: 10%;
}

.animate-enter { 
    -webkit-animation: enter 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 

.new-channel {
    width: 25em;
}
@-webkit-keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    75% {
        left: 0px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    75% {
        left: 0px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}

body {
    /*background-color: #e6e6e6;*/
}

h1 {
    color: orange;
}
h6 {
    color: orange;
}

