- var width = '500px'
- var height = '500px'
span(ng-controller="ChatController as chatCtrl" style="width:#{width};height:#{height};border:5px solid green;")
    .container
        .users.bordered
            ul ses
                li sys
                li sys 
                li sys
        .messageBox.bordered
            .messages.bordered
                ul
                    li(ng-repeat="message in chatCtrl.messages") {{message.user}}: {{message.message}}

            .media.bordered
                p moi oon mediaa :D
                p moi oon mediaa :D
                p moi oon mediaa :D

        input(ng-click="chatCtrl.clicked()" ng-keyup="$event.keyCode == 13 && chatCtrl.sendMsg()" ng-model="msg" type="text" class="newMessage bordered")

