.container
    .users.bordered
        ul ses
            li sys
            li sys 
            li sys
    .messageBox.bordered
        .messages.bordered
            p oh hi messa
            p ges des dses

        .media.bordered
            p moi oon mediaa :D
            p moi oon mediaa :D
            p moi oon mediaa :D

    input(type="text", class="newMessage bordered" value="test msg")

