.users
    ul ses
        li sys
        li sys 
        li sys
.messageBox
    .messages
        oh hi messa
        ges des dses

    .media
        moi oon mediaa :D

.newMessage
    jos en olisi paska niin tästä lähettäisit viestejä :D
