span(ng-controller="ChatController as chatCtrl", class="chat col-xs-4")

    .row.tscontainer

        .users.col-xs-2

        .messages.col-xs-8

            ts-chat-message(ng-repeat="message in messages" ng-attr-id="{{roomName}}msg{{$index}}")
                
            
        .tsmedia.col-xs-2

        input(ng-click="chatCtrl.clicked()", ng-keyup="$event.keyCode == 13 && chatCtrl.sendMsg()", ng-model="msg", type="text", class="newMessage col-xs-offset-2 col-xs-8")

