div(ng-controller="UserHeaderController as userCtrl" ng-model="loggedIn")
    div(ng-show="loggedIn" class="loginfield")
        p(class="loginfield") Logged in as {{username}}
        form(ng-submit="logout()", class="loginfield")
            button(type="submit" class="loginfield") log out
        
    div(ng-show="!loggedIn")

        form(name="logInForm", ng-submit="login()", class="loginfield")

            p(class="loginfield") Username
            input(type="text", ng-model="username", class="loginfield")

            p(class="loginfield") Password
            input(type="password", ng-model="password", class="loginfield")

            button(type="submit", class="loginfield") Log in

        form(ng-submit="register()", class="loginfield" ng-show="!registered")
            button(type="submit", class="loginfield") Register

        p(class="loginfield") {{loginState}} 




