div(ng-controller="UserHeaderController as userCtrl", ng-model="loggedIn")
    div(ng-show="loggedIn", class="loginfield")

        form(ng-submit="logout()", class="form-inline", role="form")
            div(class="form-group")
                label(for="logout") Logged in as {{username}}
                button(type="submit", class="btn btn-default", id="logout") Log out
        
    div(ng-show="!loggedIn")

        form(name="logInForm", ng-submit="login()", class="form-inline", role="form")

            div(class="form-group")

                label(class="sr-only", for="username") Username
                input(type="text", ng-model="username", id="username", class="form-control", placeholder="Username")

            div(class="form-group")

                label(class="sr-only", for="password") Password
                input(type="password", ng-model="password", id="password", class="form-control", placeholder="Password")

            button(type="submit", class="btn btn-default") Log in

        form(ng-submit="register()", class="form-inline", ng-show="!registered", role="form")

            button(type="submit", class="btn btn-default") Register

        p(class="loginfield") {{loginState}} 




