.bordered {
    /*
    border-style: solid;
    border-color: #0000ff;
    */
    border: 1px solid gray;
    /*
    padding: 5px;
    margin: 2px;
    */
}

.container {
    position:relative;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 100%;
    min-height: 100%;
    width: 100%;
    border: 5px solid blue;
}

.users {
    float: left;
    height: 90%;
    top: 5px;
    width: 20%;
}


/*message entry line */
.newMessage {
    position: absolute;
    bottom: 1px;
    height: 5%;
    left: 21%;
    width: 50%;
}

.sendButton {
    bottom: 5px;
    left: 85%;
    width: 10%;
}


/*Messagebox */
.messageBox {
    float: right;
    width: 79%;
    height: 90%;
    top: 5px;
}

/*And it's insides*/
.messages {
    float: left;
    width: 70%;
    height: 100%;
}

.media {
    float: right;
    width: 28%;
    height: 100%;
}

span {
    display: inline-block;
}

h1 {
    color: orange;
}
