

<channames
	# denyrange: characters or range of characters to deny in channel
	# names.
	denyrange="2,3"

	# allowrange: characters or range of characters to specifically allow
	# in channel names.
	allowrange="">

<chanprotect
	# noservices: With this set to yes, when a user joins an empty channel,
	# the server will set +q on them. If set to no, it will only set +o
	# on them until they register the channel.
	noservices="no"

	# qprefix: Prefix (symbol) to use for +q users.
	qprefix="~"

	# aprefix: Prefix (symbol) to use for +a users.
	aprefix="&amp;"

	# deprotectself: If this value is set (true, yes or 1), it will allow
	# +a and +q users to remove the +a and +q from themselves, otherwise,
	# the status will have to be removed by services.
	deprotectself="yes"

	# deprotectothers: If this value is set to yes, true, or 1, then any
	# user with +q or +a may remove the +q or +a from other users.
	deprotectothers="yes">



<passforward
		# nick: nick to forward connect passwords to.
		nick="NickServ"

		# forwardmsg: Message to send to users using a connect password.
		# $nick will be the users' nick, $nickrequired will be the nick
		# of where the password is going (the nick above).
		# You can also use $user for the user ident string.
		forwardmsg="NOTICE $nick :*** Forwarding PASS to $nickrequired"

		# cmd: Command for the user to run when it receives a connect
		# password.
		cmd="PRIVMSG $nickrequired :IDENTIFY $pass">

