span(ng-controller="ChatController as chatCtrl", class="chat vspace")

    .row.tscontainer

        .users.col-xs-2
            p(ng-repeat="user in users") {{user}}

        div(class="messages col-xs-8", ng-attr-id="{{channel}}")

            ts-chat-message(ng-repeat="message in messages")
                
            
        .tsmedia.col-xs-2

        input(ng-click="chatCtrl.clicked()", ng-keyup="$event.keyCode == 13 && chatCtrl.privmsg()", ng-model="message", type="text", class="newMessage col-xs-offset-2 col-xs-8")

