span(ng-controller="ChatController as chatCtrl", class="chat vspace col-xs-12")

    .row.tscontainer

        .users.col-xs-1
            p(ng-repeat="user in users") {{user}}

        div(class="messages col-xs-7" scroll-glue="glued" lr-infinite-scroll="infiniteScrollDown" lr-infinite-scroll-up="infiniteScrollUp")

            ts-chat-message(ng-repeat="message in messages")
                
            
        div(class="tsmedia col-xs-4" scroll-glue="mediaGlued")
            ts-media-bar

        //second row

        input(ng-show="!editingNick" type="button" value="{{nick}}" class="col-xs-1 own-nick-area btn btn-default" ng-click="editNick()")
        input(ng-show="editingNick" focus-on="editNick" ng-blur="stopEditingNick()" type="text" class="col-xs-1 own-nick-area" ng-model="nick" ng-click="ownNickAreaClicked()" ng-keyup="$event.keyCode == 13 && ownNickAreaSubmit()")

        input(ng-keyup="$event.keyCode == 13 && chatCtrl.privmsg()", ng-model="message", type="text", class="newMessage col-xs-7" focus-on="showChannel")

