div(class="single-message {{message.class}}", id="{{channelName.substring(1)}}__{{message.idx}}")
    p
        <a ng-click="messageClicked($index)" href="{{origin}}/#/\#{{channelName.substring(1)}}__{{message.idx}}">
        <small title="{{message.timestamp | date:'dd/MM/yy HH:mm:ss'}}">{{message.timestamp | date:'HH:mm:ss'}}</small>
        </a>
        <strong>[{{message.nick}}]</strong> :
        <span ng-bind-html="message.message | linky:'_blank'"> </span>


