button(type="button", ng-click="getContent()") Refresh
div(deckgrid class="deckgrid row", source="results")
    div(class="chat-summary")
        p(class="centered-text chat-summary-messages") <strong>{{card.name}}</strong>
        img(src="{{card.imageUrls[0]}}", class="chat-summary-picture")
        ts-card-messages(messages="{{card.messages}}")
        input(type="button", ng-click="mother.joinChannel(card.name)", value="test")

