button(type="button", ng-click="getContent()") Refresh
div(deckgrid class="deckgrid row", source="results")
    div(class="chatsummary")
        p(class="centered-text col-xs-3") <strong>{{card.name}}</strong>
        img(src="{{card.imageUrls[0]}}", class="chatsummarypicture")
        ts-card-messages(messages="{{card.messages}}")

