//
   Created by Tsarpf on 3/11/15.


div(class="media-bar" scroll-glue="mediaGlued")
    div(ng-repeat="media in mediaList" class="")
        p [{{media.idx}}]
        img(src="{{media.url}}" class="media-element")