<span ng-controller="ChatController as chatCtrl" class="chat col-xs-12">
    <div class="row tscontainer">

        <table style="width: 100%; height: 100%; border-spacing: 0; border-collapse:collapse;" col-resizeable>
            <tbody class="chat">
                <tr>
                    <td style="width:10%; height:90%; border: 1px solid #ebebeb; padding: 0; vertical-align: top;">
                        <ts-user-bar></ts-user-bar>
                    </td>
                    <td style="width:60%; height:90%; border: 1px solid #ebebeb; padding: 0; vertical-align: top;">
                        <div class="messages"
                             ng-show="!searching"
                             scroll-glue="!!scrolls.messagesGlued"
                             msd-wheel="messageMouseScroll($event)"
                             scrolly
                             scrolled-down="scrolls.scrolledDown"
                             messages-glued="scrolls.messagesGlued"
                             ui-scroll-viewport>

                            <div ui-scroll="message in messageDatasource"
                                 buffer-size="20"
                                 adapter="messageAdapter">

                                <ts-chat-message></ts-chat-message>
                            </div>
                        </div>
                        <div class="messages"
                             ng-show="searching">
                            <p> Click an image to link it to your message </p>
                            <img class="loading-gif" src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif" ng-show="waitingForSearchResults">
                            <div deckgrid class="deckgrid row" source="searchResults">
                                <div class="chat-summary tile clickable-element" ng-click="mother.searchResultClicked(card.$index)">
                                    <img ng-src="{{card.thumbnail}}" class="chat-summary-picture">
                                </div>
                            </div>

                        </div>
                    </td>
                    <td style="width: 30%; height:90%; border: 1px #ebebeb; padding: 0;">
                        <div class="tsmedia"
                             scroll-glue="mediaGlued"
                             ui-scroll-viewport
                             msd-wheel="mediaMouseScroll($event)">

                            <ts-media-bar images-loaded="imgLoadedEvents"></ts-media-bar>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="height: 10%; padding: 0;">
                        <p ng-show="!editingNick"
                           class="own-nick-area btn default"
                           style="width:100%; height:100%"
                           ng-click="editNick()">
                            {{nick}}
                        </p>

                        <input
                                ng-show="editingNick"
                                focus-on="editNick"
                                ng-blur="ownNickAreaSubmit()"
                                type="text"
                                class="own-nick-area"
                                style="width:100%; height:100%;"
                                ng-model="nick"
                                ng-click="ownNickAreaClicked()"
                                ng-keyup="$event.keyCode == 13 && ownNickAreaSubmit()">
                    </td>

                    <td style="height: 10%; border: 1px solid #ebebeb; padding: 0;">
                        <input
                                ng-show="!searching"
                                ng-keyup="$event.keyCode == 13 && chatCtrl.privmsg()"
                                ng-change="messageChanged()"
                                ng-model="message"
                                placeholder="Enter message and push enter to chat. Type '@' to search and link pictures"
                                type="text"
                                class="new-message"
                                style="width:100%;"
                                focus-on="chatInput">

                        <div class="input-group" ng-show="searching">
                            <span class="input-group-addon">
                                <span class="fui-search">
                                </span>
                            </span>
                            <input type="text"
                                   class="new-message form-control"
                                   placeholder="Esc to stop searching -- Enter to search"
                                   ng-model="searchTerm"
                                   ng-keydown="$event.keyCode == 27 && escPressedInSearch()"
                                   ng-keyup="$event.keyCode == 13 && search()"
                                   focus-on="searchInput">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
 </span>
