<span ng-controller="ChatController as chatCtrl" class="chat vspace col-xs-12">
    <span class="row tscontainer">
        <div class="users col-xs-1"
             resizable
             r-directions="['bottom', 'left', 'right', 'top']">
            <ts-user-bar></ts-user-bar>
        </div>

        <span resizable
              r-directions="['bottom', 'left', 'right', 'top']"
              r-height="messageBoxSize.height"
              class="messages">
            <div class="messages col-xs-7"
                 ng-show="!searching"
                 scroll-glue="!!scrolls.messagesGlued"
                 msd-wheel="messageMouseScroll($event)"
                 scrolly
                 scrolled-down="scrolls.scrolledDown"
                 messages-glued="scrolls.messagesGlued"
                 ui-scroll-viewport>

                <div ui-scroll="message in messageDatasource"
                     buffer-size="20"
                     adapter="messageAdapter">

                    <ts-chat-message></ts-chat-message>
                </div>
            </div>
        </span>

            <div class="messages col-xs-7"
                 ng-show="searching">
                <p> Click an image to link it to your message </p>
                <img class="loading-gif" src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif" ng-show="waitingForSearchResults">
                <div deckgrid class="deckgrid row" source="searchResults">
                    <div class="chat-summary tile clickable-element" ng-click="mother.searchResultClicked(card.$index)">
                        <img ng-src="{{card.thumbnail}}" class="chat-summary-picture">
                    </div>
                </div>

             </div>

        <div class="tsmedia col-xs-4"
             scroll-glue="mediaGlued"
             ui-scroll-viewport
             msd-wheel="mediaMouseScroll($event)"
             resizable
             r-directions="['bottom', 'left', 'right', 'top']">

            <ts-media-bar images-loaded="imgLoadedEvents"></ts-media-bar>
        </div>

        <input
                resizable
                r-directions="['bottom', 'left', 'right', 'top']"
                ng-show="!editingNick"
                type="button"
                value="{{nick}}"
                class="col-xs-1 own-nick-area btn default"
                ng-click="editNick()">

        <input
               ng-show="editingNick"
               focus-on="editNick"
               ng-blur="ownNickAreaSubmit()"
               type="text"
               class="col-xs-1 own-nick-area"
               ng-model="nick"
               ng-click="ownNickAreaClicked()"
               ng-keyup="$event.keyCode == 13 && ownNickAreaSubmit()">

        <input
                ng-show="!searching"
                ng-keyup="$event.keyCode == 13 && chatCtrl.privmsg()"
                ng-change="messageChanged()"
                ng-model="message"
                placeholder="Enter message and push enter to chat. Type '@' to search and link pictures"
                type="text"
                class="new-message col-xs-7"
                resizable
                r-directions="['bottom', 'left', 'right', 'top']"
                focus-on="chatInput">

        <div class="input-group col-xs-7" ng-show="searching">
            <span class="input-group-addon">
                <span class="fui-search">
                </span>
            </span>
            <input
                    type="text"
                    class="new-message form-control"
                    placeholder="Esc to stop searching -- Enter to search"
                    ng-model="searchTerm"
                    ng-keydown="$event.keyCode == 27 && escPressedInSearch()"
                    ng-keyup="$event.keyCode == 13 && search()"
                    focus-on="searchInput">
        </div>
    </div>
 </span>
