<span ng-controller="ChatController as chatCtrl" class="chat vspace col-xs-12">
    <div class="row tscontainer">
        <div class="users col-xs-1">
            <ts-user-bar></ts-user-bar>
        </div>

        <div class="messages col-xs-7"
            scroll-glue="glued"
            lr-infinite-scroll="infiniteScrollDown"
            lr-infinite-scroll-up="infiniteScrollUp"
            scroll-threshold="100">

            <ts-chat-message ng-repeat="message in messages"> </ts-chat-message>
        </div>
                
        <div class="tsmedia col-xs-4" scroll-glue="mediaGlued">
            <ts-media-bar></ts-media-bar>
        </div>

        <input
               ng-show="!editingNick"
               type="button"
               value="{{nick}}"
               class="col-xs-1 own-nick-area btn default"
               ng-click="editNick()">

        <input
               ng-show="editingNick"
               focus-on="editNick"
               ng-blur="stopEditingNick()"
               type="text"
               class="col-xs-1 own-nick-area"
               ng-model="nick"
               ng-click="ownNickAreaClicked()"
               ng-keyup="$event.keyCode == 13 && ownNickAreaSubmit()">

        <input
                ng-keyup="$event.keyCode == 13 && chatCtrl.privmsg()"
                ng-keydown="messageKeyDown($event.keyCode)"
                ng-model="message"
                type="text"
                class="newMessage col-xs-7"
                focus-on="showChannel"
                ng-change="messageFieldChanged()">
    </div>
 </span>
