<div infinite-scroll="infiniteScrollDown()" infinite-scroll-distance="0" infinite-scroll-immediate-check="false">

    <button class="btn btn-block btn-lg btn-info vspace" type="button" ng-click="refresh()">  Refresh </button>

    <div deckgrid class="deckgrid row" source="results">

        <div class="chat-summary tile">
            <p class="centered-text chat-summary-messages">
                <strong>{{card.name}}</strong>
            </p>

            <a ng-href="{{card.imageUrls[0].originalUrl}}" target="_blank">
                <img ng-src="{{card.imageUrls[0].thumbnail}}" class="chat-summary-picture">
            </a>

            <ts-card-messages messages="{{card.messages}}"></ts-card-messages>
            <input class="btn btn-primary btn-large btn-block" type="button" ng-click="mother.joinChannel(card.name)" value="Join chat">
        </div>
    </div>

</div>

<p> Something broken? Ads suck? Want a new feature? Please contact me by email at: admin ~at~ tsatter.com </p>
