extends layout

block content

    h1 Testink yay

    div(ng-controller="AllChatController as allCtrl")

        input(ng-click="allCtrl.clicked()", ng-keyup="$event.keyCode == 13 && allCtrl.join()", ng-model="joinThisChannel", type="text")

        div
            ts-chat(room-name="{{room}}" ng-repeat="room in roomNames")

