doctype html
html(ng-app)
    head
        title Tsattr
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
        script(src="/js/app.js")
    body
        h1 Testink yay

        p some text
        p some more text


