doctype html
html
    head
        title Tsattr
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js")
        script(src="/js/app.js")
        link(href='/stylesheets/stylesheet.css', rel='stylesheet')

    body(ng-app="tsatter" ng-controller="ChatController as chatCtrl")

        h1 Testink yay

        p some text {{chatCtrl.test}}
        p some more text

        - var width = '500px'
        - var height = '500px'
        
        div 
            span(style="width:#{width};height:#{height};border:5px solid green;")
                ts-chat
            span(style="width:#{width};height:#{height};border:5px solid green;")
                ts-chat




